
<p class="admin_para">
<strong>Welcome to the Admin panel!</strong>
<br>
Use the below options to view and edit content throughout the site and to send invitations to students. To send an email update to all business accounts, click the 'Mail All' button in the navigation bar above.
</p>


<div class='admin_flex_index'>
<div class='admin_card_index'>
				
				<p>	<%= link_to "Go to Student Profiles", student_profiles_path  %></p>
				<br>
				<p><strong>What you can do: </strong>Edit, view, and delete any student profile. Add sponsorship flags. </p>
	    		
</div>

  

<div class='admin_card_index'>
				
				<p><%= link_to "Go to Business Profiles", business_profiles_path  %></p>
				<br>
				<p><strong>What you can do: </strong>Edit, view, and delete any business profile or job listing. </p>
	
</div>


<div class='admin_card_index'>

				<p><%= link_to "Send an invitation to a student", new_invitation_path(:user) %></p>
				<br>
				<p><strong>What you can do: </strong> Send invitations to students to invite them to join the site.</p>

</div>
</div>