
<p class="admin_para">
	<strong>Welcome to the Admin panel</strong>
	<br>
	Use the below options to view and edit content throughout the site and to send invitations to students. To send an email update to all business accounts, click the 'Mail All' button in the navigation bar above.
</p>


<div class='admin_flex_index'>
	<%= link_to(student_profiles_path, class: "admin_card_index") do %>
		<h3>Student profiles</h3>
		<p>Edit, view, and delete any student profile. Add sponsorship flags. </p>
	<% end %>


	<%= link_to(business_profiles_path, class: "admin_card_index") do %>

		<h3>Business profiles</h3>
		<p>Edit, view, and delete any business profile or job listing. </p>

	<% end %>


	<%= link_to(new_invitation_path(:user), class: "admin_card_index") do %>

		<h3>Invite a student</h3>
		<p>Send invitations to students to invite them to join the site.</p>
	<% end %>

</div>