
<div class="instructions">
	<h1>Business Profiles</h1>
	<p>A list of businesses who are looking to employ coders. To view the job opportunities that a business has to offer, click the 'View jobs' link in the chosen business profile.</p>
</div>

<div class="iso_sort">
	<button id='sortNameAsc'>Ascending </button>
	<button id='sortNameDesc'>Descending</button>
</div>


<div class='biz_flex_index'>
	<% @business_profiles.each do |business_profile| %>
	<%= link_to(business_profile, class: "item card_index", data: { name: business_profile.business_name }) do %>

		<h3> <%= business_profile.business_name %></h3>
		<p><%= business_profile.description_business %></p>

	<% end %>
	<% end %>
</div>