
<div class="instructions">
  <p>  Below view businesses who are looking to employ coders. In the navigation bar you can set up your profile for businesses to view.</p>
</div>

    
<div class='biz_flex_index'>
 <% @business_profiles.each do |business_profile| %>
<div class='card_index'>

         <strong><p id="index_business_name"> <%= business_profile.business_name %></strong><br>
            <small><%= business_profile.description_business %></small></p>
            
         
   <%= link_to business_profile.url_of_business, "http://#{business_profile.url_of_business}", :class => "website_b" %>
     

      <%= link_to 'VIEW PROFILE', business_profile %>

</div>
<% end %>
</div>

<br>
<br>





