<h1 class="new-bus-prof-header">New Business Profile</h1>

<div class="instructions_long">
<p>Hello and welcome to the Digital Jersey Recruitment Platform! Below fill in your company details. After you create your profile in the navigation bar you can add open jobs you are looking to fill at your organization. Also in the navigation bar you can checkout students of the Digital Jersey Coding Programs profiles. You can contact job seekers if you are interested in hiring them. If a student has 'already sponsored' at the top of their page it means they have already found a job. If you would like to sponsor a student to come work for you after the program is complete please contact <a href='mailto:tom@gmail.com'>Tom Hacquoil.</a> 
</div>

<%= render 'form' %>
