<br>
<br>
<br>
<br>
<div class="instructions_long">
<p>Hello and welcome to the Digital Jersey Recruitment Platform! Below fill in your details. The "About You" section below is 'html safe' so feel free to personalize it with white listed html tags. (including img, h3, strong, etc) After you create your profile you will be able to see businesses in the area who are currently hiring. To get the best results it is recommended to fill in all fields with as much detail as possible. 
</div>

<div class="form">
<%= render 'form' %>
</div>
