/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



/* THIS CSS IS RESPONSIBLE FOR THE NAV BAR AND FOOTER */




/* --------------------- Nav Bar --------------------- */

.navbar {
    margin-bottom: 0;
  
}

.navbar-brand {
    font-weight: 700;
}
.navbar-brand {
  height: 40px;
  padding: 5px 15px;
  font-size: 18px;
  line-height: 1em;
}

.navbar-brand h1{
  color: #fff;
  font-size: 20px;
  line-height: 40px;
}

.navbar-brand:focus {
    outline: 0;
}

.nav.navbar-nav {
    background-color: rgba(255,255,255,.8);
    margin: 0.6%;
    right: 0;
    position: fixed;
    -webkit-transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;

}

.navbar-custom.top-nav-collapse .nav.navbar-nav {
    background-color: rgba(0,0,0,0);
}

.navbar-custom.top-nav-collapse .logo {
 background-color: rgba(0,0,0,0); 
}

.navbar-custom ul.nav li a {
  font-size: 12px;
  letter-spacing: 1px;
  color: #444;
  text-transform: uppercase;
  font-weight: 700;
}

.navbar-custom.top-nav-collapse ul.nav li a {
      -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  color: #fff;
}

.navbar-custom ul.nav ul.dropdown-menu {
    border-radius: 0; 
}

.navbar-custom ul.nav ul.dropdown-menu li {
  border-bottom: 1px solid #f5f5f5;

}

.navbar-custom ul.nav ul.dropdown-menu li:last-child{
  border-bottom: none;
}

.navbar-custom ul.nav ul.dropdown-menu li a {
  padding: 10px 20px;
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
  background: #fefefe;
}

.navbar-custom.top-nav-collapse ul.nav ul.dropdown-menu li a {
  color: #666;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 14px;
    color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

.navbar {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.top-nav-collapse {
    padding: 0;
    background-color: #67B0D1;
    opacity: 1;
}

.navbar-custom.top-nav-collapse {
    border-bottom: 1px solid rgba(255,255,255,.3);
}


.navbar.navbar-custom.navbar-fixed-top {
  margin-bottom: 0;
}

.navbar-fixed-top {
  width: 100%;
}

.navbar-right {
  width: 300px;
}

/* -------------------- LOGO --------------------*/


.logo {
  margin-left: 8px;
  float: left;
  background-color: rgba(255,255,255,.8);
  padding: 0 20px;
  
  -webkit-transition: background-color .2s ease-in-out;
  -moz-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}


.logo-img {
  border-radius: 10px;
  width: 50px;
  height: 50px;
  margin: 7px 0px;
}


.logo-text {
  margin: 0px 0px 0px 10px;
  padding: 8px 0px 0px 0px;
  position: relative;
  float: right;
  height: 65px;
  text-align: left;
  color: #444;
  font-weight: bold;
  font-family: 'roboto', sans-serif;
}



/* sign in page styling the h1 */


/* sing up page styling the h1 */

 .sign_up_login {

   color: darkgrey;
   font-family: 'Arial';
   font-size: 20px;
 }

 /* end */



.fa-check-circle {
  color: #67b0d1;
}



/* User sign in and sign forms. */
.border-form-div {


  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
  color: darkgey;
}

/* sign up button */

.sign_up_button a {
  color: buttontext;
  background-color: #FFF;
  padding: 0px 2px;
  font-size: 11px;
}

.sign_up_reasons {
  margin: 200px 0 0 50px;
  font-size: 20px;
  color: grey;
  font-family: 'Arial';
  padding: 0;
  top: 0;
  left: 0;
  position: fixed;
  
}

/* -------------------------------- FOOTER ------------------------------ */

footer {
  padding: 0 16px;
  background-color: #424242;
  width: 100%;
  height: 50px;
  position: relative;
  text-align: center;
  z-index: 1000;
  bottom: 0;
}

footer ul {
  margin: 0;
}

footer li {
  list-style: none;
  display: inline-block;

}

.copyright {
  float: left;
  display: inline-block;
  padding-top: 15px;
}

.creators li {
  display: inline-block;
  margin: 0px 10px;
  padding-top: 15px;
  float: right;
}

/* -------------------------------- PAGE TITLE ------------------------------ */

span {
  padding-bottom: 50px;
  left: 20%;
}