// Place all the styles related to the business_profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
	margin: 0;
	padding: 0;
	font-family: Helvetica, sans-serif;
}

.new_business_listing{
  
  border-style: double;
  margin-left: 350px;
  margin-right: 350px;
  margin-bottom: 20px;
  border-radius: 20px;

  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}


/* This is styling the business profile information */

.business-profile-header {
  margin: 40px 25% 20px 25%;
  width: 50%;
  text-align: center; 
}

.business-profile-info {
  margin: 20px 25%;
  width: 50%;
  background-color: #FFF;
  border-style: none;
  border-radius: 10px;
  text-align: center;
  padding: 2%;
  
  ul {
  list-style: none;
  }

  li {
    font-size: 1.5rem;
    margin: 10px;
  }

}

.job-listing-instructions {

  h2 {
  margin: 60px 25% 20px 25%;
  width: 50%;
  text-align: center;
  }

  p {
    text-align: center;
  }

}


/* This is styling the business listings 'show' page */

.your-job-listing-info {

  h3 {
    margin: 40px 25% 20px 25%;
    width: 50%;
    text-align: center; 
  }

  p {
    text-align: center; 
  }

}

/*This is styling the business profile form*/

.business-prof-form {
  margin-top: 150px;

  h2 {
    width: 50%;
    margin: 0 25%;
    text-align: center;
  }

}




