body {
	padding: 0;
	margin: 0;
	background-color: #F5F5F5;
}



/* this is getting the cards to line up next to eachother */
.biz_flex {
	display: -webkit-flex;
	-webkit-flex-direction: row;
	padding: 20px;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 2%;
}

.mdl-layout {
	
	background-color: #F5F5F5;
}

.mdl-layout__header--waterfall {
	background-color: #67B0D1;
	height: 70px;
	position: fixed;
}

.business_profiles_show_header {
	height: 200px;
	width: 98%;
	
}

.business_show_h1 { 
	color: darkgrey;
	
}

a {
	color: white;
}



.biz_title {
	color: white;
	font-size: 30px;
	-webkit-justify-content: center;
	justify-content: center;
}

.mdl-layout__header-row>* {
	padding-top: 5%;
}

.url {
	color: white;
	padding-left: 100px;
	padding-top: 3px;
}

.bottom_card {
	display: -webkit-flex;
	-webkit-flex-direction: column;
	background: white;
	border-color: #ECEAEA;
	border-style: solid;
	border-width: 2px;
	padding: 20px;
	transition: background-color 2s ease-out;
	width: 44%;
	margin: 2%;

}

.bottom_card:hover{
	background-color: #FFEFDB;
	
}




.links_show {
	color: white;
}

.created {
	font-size: 10px;
}