* {
	margin: 0;
	padding: 0;
	font-family: Helvetica, sans-serif;
}










.login {
float: right;
text-decoration: none;
margin-top: 15px;
text-transform: uppercase;
font-size: 20px;
transition-duration: 0.7s;

font-family: fantasy;
}


.login:hover,
.login:focus,
.login:active  {
	transform: scale(1.1);

}




.logo {
	border-radius: 10px;
}



