

img {
  height: 100px;
  width: 100px;
  
  float: right;
  
}


/*body */
body {
  padding: 2em; 
  color: darkgrey;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #666;
  font-family: 'Dosis', sans-serif;
   background-size: 100%;
  font-size: 1.2em;
}


/* outside of card style  business profile*/
.biz_flex_index {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
 
  
}
/* inside of card style for biz */
.card_index {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  background: white;
  border-color: #00BCD4;
  border-style: dotted;
  border-width: 2px;
  padding: 20px;
  transition: background-color 2s ease-out;
  width: 19%;
  margin-bottom: 10px;
   

}
/* outside of card style  student profile*/
.student_flex_index {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  padding: 40px;
  flex-wrap: wrap;
  justify-content: space-between;
 
  
}
/* inside of card style for student */
.card_index_student {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  background: white;
  border-color: #00BCD4;
  border-style: dotted;
  border-width: 2px;
  padding: 20px;
  transition: background-color 2s ease-out;
  width: 29%;
  margin-bottom: 10px;
  padding: 10px;


}
/* card hover color */
.card_index:hover{
  background-color: #e8f3f7;
  
}

.card_index_student:hover {
  background-color: #e8f3f7;
  
}
/* website link style */
.website_b {
  float: left;
  color: #00BCD4;
}


a {
  text-decoration: none; 
  float: right;
   color: #a45f99;
  
}

a:hover {
  color: grey;

}
/* header logo style on biz index */
.logo_b {
  float: left;
  padding-right: 5%;
  border-radius: 39%;
}

.links_show {
  padding: 10px;
}

#index_student_name {
  float: center;
}
