

img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}



body {
 
  color: darkgrey;
   background: url('http://i.imgur.com/7Tqp7YS.png') no-repeat center center fixed; 
   
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: 'Lato', sans-serif;
   background-size: 100%;
  font-size: 1.2em;
}

.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
}

