<!DOCTYPE html>
<html>
<head>
  <title>Recruitment</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="group">
	
</header>

<%= yield %>


<footer>
	<p> Copyright&copy; 2015 DJrecruitment TEAM | All rights reserved.</p>
</footer>

</body>
</html>
